// ---------------------------------
//   Base
// ---------------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  font-family: $font-body--main;
  font-size: 1rem;
}

// ---------------------------------
//   Headers
// ---------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header--main;
}

@mixin headerClasses {
  &.h1 {
    font-size: rem($h1-size);
  }

  &.h2 {
    font-size: rem($h2-size);
  }

  &.h3 {
    font-size: rem($h3-size);
  }

  &.h4 {
    font-size: rem($h4-size);
  }

  &.h5 {
    font-size: rem($h5-size);
  }

  &.h6 {
    font-size: rem($h6-size);
  }
}

h1 {
  font-size: rem($h1-size);

  @include headerClasses;
}

h2 {
  font-size: rem($h2-size);

  @include headerClasses;
}

h3 {
  font-size: rem($h3-size);

  @include headerClasses;
}

h4 {
  font-size: rem($h4-size);

  @include headerClasses;
}

h5 {
  font-size: rem($h5-size);

  @include headerClasses;
}

h6 {
  font-size: rem($h6-size);

  @include headerClasses;
}

// ---------------------------------
//   Misc
// ---------------------------------

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease all;

  &:focus,
  &:hover {
    color: $color--primary;
    text-decoration: underline;

    .icon {
      fill: $color--primary;
    }
  }
}
