<div class="hero">
  <div class="hero-image">
    <img src="{{ section.settings.hero_image | img_url: '2000x768' }}" alt="Hero Image" class="hero-image__img">
  </div>
  <div class="hero-content hero-align__{{ section.settings.hero_desktop_alignment }}">
    <div class="hero-content__inner">
      {% if section.settings.hero_title %}
        <div class="hero-title">
            {{ section.settings.hero_title }}
        </div>
      {% endif %}    
      {% if section.settings.hero_text %}
        <p class="hero-copy">
            {{ section.settings.hero_text }}
        </p>
      {% endif %}
      {% if section.settings.hero_cta_link %}
        <div class="hero-cta">
          <a href="#" class="hero-cta__link">
            {{ section.settings.hero_cta_text }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero image"
      },
      {
          "type": "text",
          "id": "hero_title",
          "label": "Hero Title",
          "default": "Hero Title",
          "placeholder": "Hero Title"
      },
      {
          "type": "textarea",
          "id": "hero_text",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
          "label": "Hero Text"
      },
      { 
          "type": "text",
          "id": "hero_cta_text",
          "label": "CTA text",
          "default": "Read More",
          "placeholder": "Read More"
      },
      {
        "id": "hero_cta_link",
        "type": "url",
        "label": "CTA link"
      },
      {
          "type": "select",
          "id": "hero_desktop_alignment",
          "label": "Hero Desktop Alignment",
          "options": [
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "middle"
      }
	  ],
    "presets": [
      {
        "name": "Hero Call To Action",
        "category": "Generic"
      }
    ]
  }
{% endschema %}
