.hero {
  position: relative;
}

.hero-image {
  overflow: hidden;
  width: 100%;

  .hero-image__img {
    display: block;
    min-height: 500px;
    object-fit: cover;

    @include tablet-up {
      object-fit: initial;
    }
  }
}

.hero-align__middle {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.hero-align__left {
  @include tablet-up {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
 
  .hero-content__inner {
    text-align: center;

    @include tablet-up {
      margin-left: 2em;
      text-align: left;
      width: 55%;
    }  
  }
}

.hero-align__right {
  @include tablet-up {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .hero-content__inner {
    text-align: center;

    @include tablet-up {
      margin-right: 2em;
      text-align: left;
      width: 55%;
    }
  }
}

.hero-content {
  position: absolute;
  left: 0;
  padding: 2em 1em;
  right: 0;
  top: 72px;
  z-index: 10;

  @include tablet-up {
    padding: 3em 2em;
  }
}

.hero-title {
  color: #fff;
  font-weight: bold;
  font-size: 36px;

  @include tablet-up {
    font-size: 46px;
  }
}

.hero-copy {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;

  @include tablet-up {
    font-size: 24px;
    line-height: 1.4;
  }
}

.hero-cta__link {
  background-color: #57AD68;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  padding: 0 30px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  
  &:hover {
    background-color: #fff;
    color: #57AD68;
    text-decoration: none;
  }
}